#sinatra_authentication
  %h1
    Editing
    = @user.email
  %form{:action => "/users/#{@user.id}/edit", :method => "post"}
    %input{ :id => "user_email", :name => "user[email]", :size => 30, :type => "text", :value => @user.email }
    email
    %br
    %input{ :id => "user_password", :name => "user[password]", :size => 30, :type => "password" }
    new password
    %br
    %input{ :id => "user_password_confirmation", :name => "user[password_confirmation]", :size => 30, :type => "password" }
    confirm
    -# don't render permission field if admin and editing yourself so you don't shoot yourself in the foot
    - if current_user.admin? && current_user.id != @user.id
      %br
      %select{ :id => "permission_level", :name => "user[permission_level]" }
        %option{:value => -1, :selected => @user.admin?}
          admin
        %option{:value => 1, :selected => @user.permission_level == 1}
          authenticated user
      permission level
    %br
    %input{ :value => "update", :type => "submit" }
