#sinatra_authentication
  %h1 Login
  %form{:action => "/login", :method => "post"}
    %p
      %label{:for => "user_email'"} Email
      %br
      %input{:id => "user_email", :name => "email", :size => 30, :type => "text"}
    %p
      %label{:for => "user_password"} Password
      %br
      %input{:id => "user_password", :name => "password", :size => 30, :type => "password"}
    %p
      %input{:value => "login", :type => "submit"}
      %a{:href => "/signup"}
        Signup
    %br
    - if Sinatra.const_defined?('FacebookObject')
      = render_facebook_connect_link
