#sinatra_authentication
  %h1
    - if @user.email
      = @user.email
    - elsif @user.fb_uid
      <fb:name uid=#{@user.fb_uid} linked='false' />
  - if current_user.admin?
    %h2 permission level
    = @user.permission_level
