<form action="/signup" method="post">
  email:   <input id="user_email" name="email" size=30 type="text" /><br />
  password: <input id="user_password" name="password" size=30 type="password" /> <br />
  confirm: <input id="user_password_confirmation" name="password_confirmation" size=30 type="password" /> <br />
  <input value="sign up" type="submit" />
</form>
