<form action="/login" method="post">
  email:   <input id="user_email" name="email" size=30 type="text" /><br />
  password: <input id="user_password" name="password" size=30 type="password" /> <br />
  <input value="login" type="submit" />
</form>
